*{
    margin: 0;
}

body{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 160px ;
    align-items: center;
}
header nav h3{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
header nav button{
    background-color: white;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
}
header nav button:hover{
    background-color: #006A50;
    color: white;
    border: none;
}

/* section-1 style */

.section-1 {
    background-color: #c6e4d6;
    margin: 10px 160px 10px;
    border-radius: 24px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}
.section-1 h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    
}
.section-1 h1{
    font-size: 58px;
    font-weight: bold;
    margin-top: 16px;
}
.section-1 button{
    font-size: 18px;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    margin: 24px 0 0 0;
    cursor: pointer;

}
.section-1 button:hover{
    color: #006A50;
    background-color: white;
    border: 2px solid #006A50;
}
.section-1-text{
    margin: 117px 0 117px 55px;
}
.section-1-img{
    margin: 80px 40px 80px 60px;
}

/* section-2 styles */

.section-2{
    margin: 80px 160px 80px;
}
.section-2 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}
.section-2-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.section-2-card-box{
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 18px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    /* max-height: 100%; */
    text-align: justify;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.205);
}
.section-2-card-box h4{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.section-2-card-box p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
}

/* section-3 styles */
.section-3{
    margin: 0px 160px 40px;
}
.section-3 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.section-3 p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.section-3-card{
    display: flex;
    gap: 24px;
    margin: 32px 0 32px 0;
}

.section-3-card1{
    padding: 32px;
    background-color: #d5e1f5;
    border-radius: 16px;
}
.section-3-card2{
    padding: 32px;
    background-color: #c6e4d6;
    border-radius: 16px;
}
.section-3-card3{
    padding: 32px;
    background-color: #f7ebcf;
    border-radius: 16px;
}
.section-3-img{
    margin-bottom: 24px;
}
.section-3 h4{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0ece;
    margin-bottom: 12px;
}
.section-3-card1 button{
    color: white;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.section-3-card1 button:hover{
    border: 1px solid #5490F5;
    background-color: white;
    color: #5490F5;
}
.section-3-card2 button{
    color: white;
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.section-3-card2 button:hover{
    border: 1px solid #09A15C;
    background-color: white;
    color: #09A15C;
}
.section-3-card3 button{
    color: white;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.section-3-card3 button:hover{
    border: 1px solid #FFC239;
    background-color: white;
    color: #FFC239;
}
.section-3-last-icon{
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 16px;
    padding: 24px;
}
.section-3-last-icon img{
    position: absolute;
}
.dr-yunus{
    padding-top: 23px;
}
.dr-yunus p{
    margin-bottom: 12px;
}

/* section-4 style */
.section-4{
    margin: 80px 160px 40px;
    
}
.section-4 h3{
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}
.table-container{
    /* border: 1px solid red; */
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    margin: 40px 0;
}
table{
    padding: 32px;
    background-color: white;
    border-collapse: collapse;
    
}
table td{
    border: 1px solid #0e0e0e59;
    padding: 22px;
    font-size: 16px;
    font-weight: 600;
}
#table-heading{
    font-size: 18px;
    font-weight: 600;
    background-color: #c6e4d6;
}
#Questions-data{
    padding-right: 280px;
}
.section-4 tr td{
    justify-content: space-between;
}

#option-center{
    text-align: center;

}
.section-4 select{
    background-color: #c6e4d6;
    padding: 10px 15px;
    border-radius: 4px;
}

/* section 5 style */
.section-5{
    margin: 0px 160px 40px;

}
.section-5 h1{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
}
.section-5 .sub-p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 30px;
}
.section-5-container{
    display: flex;
    padding: 48px;
    gap: 32px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgba(14, 14, 14, 0.1) ;
}
.section-5 .satelite img{
    border-radius: 24px;
}
.section-5 h2{
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
}
.section-5 .al-jazeera{
    margin-bottom: 12px;
}
.section-5 .date-time{
    display: flex;
    margin-bottom: 12px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    gap: 10px 20px;
}
.Satellite-p{
    margin-bottom: 30px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.section-5 button{
    background-color: #006a50;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.section-5 button:hover{
    color: #006A50;
    background-color: white;
    border: 2px solid #006A50;
}




.section-6{
    margin: 0px 160px 40px;
    justify-items: center;
    text-align: center;
}
.section-6 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.taka-card{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}
.taka-card div{
    border: 1px solid rgba(14, 14, 14, 0.1) ;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 6px 50px 0 rgba(5, 3, 24, 0.170);
}
#taka-500{
    background-color: #bce5d2;
}
#taka-500:hover{
    background-color: #F5F5F5;
}
#taka-1000:hover{
    background-color: #f7ebcf;
}
#taka-100:hover{
    background-color: #c7d6f0;
}
#taka-200:hover{
    background-color: rgba(192, 228, 47, 0.49);
}
.section-6 div input{
    padding: 20px 320px;
    border: none;
    font-size: 20px;
}
hr{
    border: 1px solid rgba(14, 14, 14, 0.107);
    margin: 0 0 32px 0;
}
.section-6 button{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    margin: 30px;

}
.section-6 button:hover{
    color: #006A50;
    background-color: white;
    border: 2px solid #006A50;
}

/* section 6 styles */
.section-7{
    justify-items: center;
    margin: 20px 160px 40px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.section-7 h1{
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
}
.section-7 p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin: 16px 0;
}
.section-7 input{
    border: none;
    margin-right: 0;
    padding: 16px 300px 16px 20px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}
.section-7-btn{
    display: flex;
    align-items: center;
    margin: 24px 0 24px 0;
}
.section-7 button{
    border: none;
    margin-left: 0;
    background-color: #006A50;
    color: white;
    padding: 15px 34px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.section-7 button:hover{
    background-color: rgb(211, 6, 6);
}
.section-7 #last-p{
    padding: 20px 0 50px 0;
}

footer{
    margin-top: 80px;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
footer h1{
    font-size: 32px;
    font-weight: bold;
    padding-top: 50px ;
    margin-bottom: 50px;
}
footer div{
    margin-bottom: 80px;
    align-items: center;
    padding-top: 20px;
}

footer #footer-icon{
    margin: 23px;
    cursor: pointer;
}
.hr-last{
    margin: 0 300px 0 300px;
}